<div class="profile-activity clearfix" *ngFor="let activity of activities">
	<div>
			<img *ngIf="activity.avatar" class="pull-left" alt="{{activity.name}}'s avatar" src="assets/avatars/{{activity.avatar}}" />
			<i class="pull-left thumbicon {{activity.icon}} no-hover"></i>
      <a class="user" href="#">
        {{activity.name}}
      </a>
		  <span [innerHTML]="activity.action"></span>
		<div class="time"><i class="icon-time bigger-110"></i> {{activity.time}}</div>
	</div>
	<div class="tools action-buttons">
		<a href="#" class="blue"><i class="icon-pencil bigger-125"></i></a>
		<a href="#" class="red"><i class="icon-remove bigger-125"></i></a>
	</div>
</div>
