<a class="dropdown-toggle" ng2vDropdownToggle>
  <i class="icon-tasks"></i>
  <span class="badge badge-grey">{{tasks.count}}</span>
</a>

<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
  <li class="dropdown-header">
    <i class="icon-ok"></i> {{tasks.count}} Tasks to complete
  </li>

  <li *ngFor="let task of tasks.latest">
    <a>
      <div class="clearfix">
        <span class="pull-left">{{task.title}}</span>
        <span class="pull-right">{{task.percentage}}%</span>
      </div>
      <!--<div class="progress progress-mini {{task['progress-class']}}">
        <div style="width:{{task.percentage}}%" class="progress-bar {{task['progress-bar-class']}}"></div>
      </div>-->
      <ng2v-progressbar 
        [type]="task['progress-type']" 
        [value]="task.percentage"
        [striped]="task.striped"
        class="progress-mini">
      </ng2v-progressbar>
    </a>
  </li>

  <li>
    <a>
      See tasks with details
      <i class="icon-arrow-right"></i>
    </a>
  </li>
</ul>
