<div class="page-content">
  <div class="page-header">
    <h1>
      Wysiwyg & Markdown Editor
      <small>
        <i class="icon-double-angle-right"></i>
        with selectable 
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-info">
          <i class="icon-hand-right"></i> 
          Please note that demo server is not configured to save uploaded files, 
          therefore you may get an error message.
          <button class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
        </div>
        <div id="dropzone">
        <form action="/dummy.html" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
        </div>
      <!-- PAGE CONTENT ENDS --> 
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>