<div class="col-xs-6 col-sm-3 pricing-box" *ngFor="let price of pricing">
	<div class="widget-box">
		<div [attr.class]="'widget-header header-color-'+price['title-color']">
			<h5 class="bigger lighter">{{price.title}}</h5>
		</div>
		<div class="widget-body">
			<div class="widget-main">
				<ul class="list-unstyled spaced2">
					<!--{{#features}}-->
						<!--{{^unavailable}}{{! if the named feature is available add "OK" icon}}-->
						<li *ngFor="let feature of price.features">
              <i class="icon-ok green" [ngClass]="{
                'icon-ok green': !feature.unavailable,
                'icon-remove red': feature.unavailable
              }"></i> {{feature.name}} 
            </li>
						<!--{{/unavailable}}
						{{#unavailable}}{{! if the named feature is not available}}
						<li><i class="icon-remove red"></i> {{name}} </li>
						{{/unavailable}}-->
					<!--{{/features}}-->
				</ul>
				
				<hr />
				<div class="price">
					{{price.price}}<small>/{{price.duration}}</small>
				</div>
			</div>
			
			<div>
				<a href="#" [attr.class]="'btn btn-block btn-'+price['btn-color']">
					<i class="icon-shopping-cart bigger-110"></i>
					<span>Buy</span>
				</a>
			</div>
		</div>
	</div>
</div>