<div class="message-list" id="message-list">
 <!--{{#page.messages}}-->
 <a *ngFor="let message of messages; let idx=index" [routerLink]="['/more-pages', 'mail', 'inbox', idx]">
	<div class="message-item" [ngClass]="{'message-unread':message.unread}">
		<label class="inline">
			<input type="checkbox" class="ace" /> 
			<span class="lbl"></span>
		</label>

		<i class="message-star" [ngClass]="{
      'icon-star orange2':message.starred,
      'icon-star-empty light-grey':!message.starred
      }">
    </i>
		<span class="sender" [title]="message.sender">{{message.sender}} 
      <span class="light-grey" *ngIf="message.count">({{message.count}})</span>
    </span>
		<span class="time">{{message.time}}</span>
		<span class="attachment" *ngIf="message.attachment">
			<i class="icon-paper-clip"></i>
		</span> 

		<span class="summary">
			<span class="message-flags" *ngIf="message.flags">
				<i class="light-grey" [ngClass]="{
          'icon-reply':message.replied,
          'icon-mail-forward':message.forwarded,
          'icon-flag icon-flip-horizontal':message.flag
        }"></i>
			</span>
			<span class="badge mail-tag" [ngClass]="{
        'badge-pink':message.tag==='pink',
        'badge-success':message.tag==='success',
        'badge-grey':message.tag==='grey',
        'hide': !message.tag
      }"></span> 
			<span class="text">{{message.subject}}</span>
		</span>
	</div>
</a>
 <!--{{/page.messages}}-->
</div>