.tsi-nav--logo {
    width: 60px;
    background: url(/assets/images/veraction-logo.png);
    background-repeat: no-repeat;
    background-size: 45px;
    margin-top: 17px;
    margin-left: 10px;
}

.main-content.codeview {
    margin-left: 0;
}