<div class="align-right">
	<span class="green middle bolder">Choose timeline: &nbsp;</span>
	<div class="btn-toolbar inline middle no-margin">
		<div data-toggle="buttons" class="btn-group no-margin">
			<label class="btn btn-sm btn-yellow" 
        [routerLinkActive]="['active']" 
        [routerLink]="['/more-pages', 'timeline', 'style1']">
				<span class="bigger-110">1</span>
				<input type="radio" value="1" />
			</label>
			<label class="btn btn-sm btn-yellow"
        [routerLinkActive]="['active']" 
        [routerLink]="['/more-pages', 'timeline', 'style2']">
				<span class="bigger-110">2</span>
				<input type="radio" value="2" />
			</label>
		</div>
	</div>
</div>

<router-outlet></router-outlet> 
