<div class="navbar navbar-default" id="navbar">        
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small>
          <i class="tsi-nav--logo"></i>
          Ng2V Framework
        </small>
      </a><!-- /.brand -->
    </div><!-- /.navbar-header -->

    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        
        <li class="grey" ng2vDropdown>
          <a class="dropdown-toggle" ng2vDropdownToggle>
            <i class="icon-tasks"></i>
            <span class="badge badge-grey">{{tasks.count}}</span>
          </a>

          <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-ok"></i>
              {{taks.count}} Tasks to complete
            </li>

            <li *ngFor="let task of tasks.latest">
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">{{task.title}}</span>
                  <span class="pull-right">{{task.percentage}}%</span>
                </div>

                <div class="progress progress-mini ">
                  <div style="width:{{task.percentage}}%" class="progress-bar" [attr.class]="task[progress-bar-class]"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                See tasks with details
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
            <!--<li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Hardware Upgrade</span>
                  <span class="pull-right">35%</span>
                </div>

                <div class="progress progress-mini ">
                  <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Unit Testing</span>
                  <span class="pull-right">15%</span>
                </div>

                <div class="progress progress-mini ">
                  <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Bug Fixes</span>
                  <span class="pull-right">90%</span>
                </div>

                <div class="progress progress-mini progress-striped active">
                  <div style="width:90%" class="progress-bar progress-bar-success"></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                See tasks with details
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>-->

        <!--<li class="purple" ng2vDropdown>
          <a class="dropdown-toggle" ng2vDropdownToggle>
            <i class="icon-bell-alt icon-animated-bell"></i>
            <span class="badge badge-important">8</span>
          </a>

          <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-warning-sign"></i>
              8 Notifications
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">
                    <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                    New Comments
                  </span>
                  <span class="pull-right badge badge-info">+12</span>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="btn btn-xs btn-primary icon-user"></i>
                Bob just signed up as an editor ...
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">
                    <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                    New Orders
                  </span>
                  <span class="pull-right badge badge-success">+8</span>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">
                    <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                    Followers
                  </span>
                  <span class="pull-right badge badge-info">+11</span>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                See all notifications
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="green" ng2vDropdown>
          <a class="dropdown-toggle" ng2vDropdownToggle>
            <i class="icon-envelope icon-animated-vertical"></i>
            <span class="badge badge-success">5</span>
          </a>

          <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-envelope-alt"></i>
              {{messages.count}} Messages
            </li>

            <li *ngFor="let message of messages.latest">
              <a href="#">
                <img src="assets/avatars/{{message.img}}" class="msg-photo" alt="{{message.name}}'s Avatar">
                <span class="msg-body">
                  <span class="msg-title">
                    <span class="blue">{{message.name}}</span>
                    {{message.summary}}
                  </span>

                  <span class="msg-time">
                    <i class="icon-time"></i>
                    <span>{{message.time}}</span>
                  </span>
                </span>
              </a>
            </li>

            

        <li class="light-blue" ng2vDropdown>
          <a class="dropdown-toggle" ng2vDropdownToggle>
            <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo">
            <span class="user-info">
              <small>Welcome,</small>
              Jason
            </span>

            <i class="icon-caret-down"></i>
          </a>

          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
              <a href="#">
                <i class="icon-cog"></i>
                Settings
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon-user"></i>
                Profile
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="#">
                <i class="icon-off"></i>
                Logout
              </a>
            </li>
          </ul>-->
        </li>
      </ul><!-- /.ace-nav -->
    </div><!-- /.navbar-header -->
  </div><!-- /.container -->
</div>