<div class="row">

 <div class="col-xs-12">

  <div class="tabbable">
	<app-tabs></app-tabs>

	<div class="tab-content no-border no-padding">
	 
	 <div class="tab-pane in active">
		<div class="message-container">
		 <app-navbar></app-navbar>

		 <div class="message-list-container">
      		<router-outlet></router-outlet>
		 </div><!-- /.message-list-container -->

		 <app-message-footer></app-message-footer>
		</div><!-- /.message-container -->
	 </div><!-- /.tab-pane -->
	 
	</div><!-- /.tab-content -->
  </div><!-- /.tabbable -->

 </div><!-- /.col -->
</div><!-- /.row -->

<!--<app-message-from></app-message-from>-->
<!--<app-message-content></app-message-content> -->
