

<div class="page-content">
  <div class="page-header">
    <h1>
      Treeview
      <small>
        <i class="icon-double-angle-right"></i>
        with selectable items(single &amp; multiple) and custom icons
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-info">
          <i class="icon-hand-right"></i> 
          Please note that demo server is not configured to save the changes, therefore you may get an error message.
          <button class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
        </div>
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>